aws-wsgi
pyjwt
cryptography
dash
dash-core-components
dash-html-components
dash-bootstrap-components
Flask
flask-jwt-extended
Flask-AWSCognito
dash-renderer
numpy
openpyxl
pandas
plotly
python-slugify
boto3
